    <br>
    <br>
    <br>
    <br>
<div style="position: relative; width: 328px; left:45px; top:-317px;">
    <div class="form-group">
      <label for="exampleFormControlInput1" style="position:relative; top:-6.5px; left:2px;">Email</label>
      <input required="true" type="email" class="form-control" id="exampleFormControlInput1" name="email" value="<%= get.email%>" placeholder="Ingrese su correo">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2" style="position:relative; top:-6.5px; left:2px;">Nombre</label>
        <input required="true" type="text" class="form-control" id="exampleFormControlInput2" name="name" value="<%= get.name%>" placeholder="Ingrese su nombre">
    </div>
      <label for="exampleFormControlTextarea1" style="position:relative; top:-6.5px; left:2px;">Comentario</label>
      <textarea required="true" class="form-control" id="exampleFormControlTextarea1" rows="3" name="commentary" placeholder="Ingrese su comentario"></textarea><%= get.commentary%>
      <br>
      <div class="form-group">
        <div
          class="g-recaptcha"
          data-sitekey="6LfqKNkfAAAAAMPrkTOxNiwiiE6Si4Z8Yh04XMUI"
        ></div>
      </div>
      <button onclick="vf()" type="submit" class="btn btn-primary" style="margin-top:0px; margin-bottom:10px; margin-left: 34%;">Enviar</button>
      <!--Hora,IP,y Fecha-->
      <input type="hidden" name="ip" value="<%= get.ip%>"/>
      <input type="hidden" name="date" value="<%= get.date%>">
      <input type="hidden" name="hour" value="<%= get.hour%>">
      <input type="hidden" name="country" value="<%= get.country%>">
</div>
    